<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="gis-project_listing.xsl"?>
<!--definições do Projeto Gisv-->
<webgis path="/qgiswebclient.html" 
        mapserver="/cgi-bin/qgis_mapserv.fcgi" 
        thumbnails="/thumbnails" 
        title="QGIS Mapserver">
    <topic name="QGIS Mapa Bases">
      <project name="QGIS Mapa Bases" 
               projectpath="/home/web/qgis-web-client/projects/" 
               projectfile="MapaBases" 
               format="image/png" 
               visibleLayers="BaseCadastro,BaseRedes" 
               update="" 
               responsible="The QGIS Project"/>
      <!-- more projects go here -->
    </topic>
    <!-- more topics go here -->
</webgis>
